.sidebar{
    height: 100vh;
    width: 17vw;
    /* border-right: 2px solid rgba(0,0,0,0.14); */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #4ECDC4;
    position:fixed; 

}
p{
    margin-top: 0px;
}
.splash{
    width: 83vw;
    background-image: url("./assets/bg2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.projects{
    height: 100vh;
    /* display:flex; */
    background-color: #F7FFF7;
}

.tutoring{
    height: 100vh;
    background-color:#FF6B6B;
}

.namespace{
    padding-top: 20vh;
}

.everything{
    display: flex;
}

.content{
    margin-left: 17vw;
    width: 83vw;
}